# JUCE library code and build files
/audio\ plugin\ host/JuceLibraryCode/
/audio\ plugin\ host/Builds/

testProjectsAndCode
/audio\ plugin\ host/essentia/
pythonFiles/featureExtraction\.py

test/
audioFiles/
parameterFiles/
features/

# extra libraries
dlib-19.10/

testWav/

*.txt
*.wav